export AAD_APP_ID=<the application ID>
export AAD_APP_SECRET=<the application secret>
export AAD_TENANT_ID=<the tenant id of the azure active directory>
export DNS_ZONE=<the DNS Zone that is connected to ingress resources, e.g. internal.mycompany.com>